/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bcg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --accent-color-bcg: #FF0070;
  --text-color-main-title: #DB00FF;
  --text-color-main: #F1B2CE;
  --text-color-decor: #000028;
  --dec-element-visibility: visible;
}