/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bcg-color: #FFF1F7;
  --cover-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --accent-color-bcg: #FF8DCB;
  --font: 'IBM Plex Mono', sans-serif;
  --text-color-main-title: #FFC2E6;
  --text-color-main: #353430;
  --text-color-decor: #353430;
  --dec-element-visibility: hidden;
}

/* общая разметка страницы */

.page {
  background-color: var(--bcg-color, #000028);
  font-family: var(--font), 'IBM Plex Mono', sans-serif;
  color: var(--text-color-main, #F1B2CE);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; /* 130% */
  background-image: var(--cover-image);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* стили заголовков и шрифтов */

.title {
  color: var(--text-color-main-title, #DB00FF);
  text-shadow: 4px 4px 0px var(--accent-color-bcg, #FF0070);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%; /* 95.7px */
}

.accent-color__title {
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px; /* 130% */
}

.title-decor {
  color: var(--text-color-decor, #000028);
  background-color: var(--accent-color-bcg, #FF0070);
}

.title-decor_normal-weight {
  font-weight: 400;
}

.text-shadow {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color-bcg, #FF0070);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color-main);
}

.text-link:focus-visible {
  outline: none;
  border: 1px solid var(--text-color-main, #F1B2CE);
}

/* шапка сайта */

.header {
  block-size: 100vh;
  padding: var(--padding-main, 10px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  height: 25px;
  width: 25px;
  position: absolute;
}

.decorated-zone::before {
  right: var(--padding-main, 10px);
  top: var(--padding-main, 10px);
  border-right: 1px solid var(--accent-color, #FF0070);
  border-top: 1px solid var(--accent-color, #FF0070);
}

.decorated-zone::after {
  left: var(--padding-main, 10px);
  bottom: var(--padding-main, 10px);
  border-left: 1px solid var(--accent-color, #FF0070);
  border-bottom: 1px solid var(--accent-color, #FF0070);
}

.decorative-element {
  visibility: var(--dec-element-visibility, visible);
  color: var(--accent-color, #FF0070);
  top: var(--padding-main, 10px);
  right: calc(2 * var(--padding-main, 10px));
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  }

.decorative-element::after {
  content: "";
  background-color: var(--accent-color, #FF0070);
  border-radius: 50%;
  height: 9px;
  width: 9px;
  box-shadow: 0px 0px 4.5px 4.5px var(--accent-color, #FF0070);
}

.header__theme-menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main, 10px);
}

.header__theme-menu-button {
  padding-inline: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--accent-color, #FF0070);
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 100% */
  text-transform: lowercase;
}

.header__theme-menu-button:active {
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:has(:checked) {
  pointer-events: none;
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__question {
  inline-size: min(calc(100vw - (var(--padding-main, 10px) * 2)), 364px);
  display: flex;
  align-items: center;
  justify-self: end;
}

/* контент страницы */

.content {
  padding-inline: var(--padding-main, 10px);
  padding-block: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.content__section-list {
  display: grid;
  gap: 20px;
}

.content__section-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__section-gallery {
  display: flex;
  flex-direction: column;
  gap: var(--padding-main, 10px);
}

.content__section-gallery-list {
  display: grid;
  gap: var(--padding-main);
}

.content__section-gallery-item {
  width: 100%;
}

.content__section-gallery-image {
  display: block;
  width: 100%;
}

/* подвал сайта */

.footer {
  padding: var(--padding-main);
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.footer .title {
  text-align: center;
}

/* медиазапросы для экрана 768px */

@media (min-width: 768px) {
  :root {
    --padding-main: 20px;
  }

  .decorative-element {
    right: calc(1.5 * var(--padding-main));
  }

  .title {
    margin-inline-start: calc(-1 * var(--padding-main));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .content {
    padding-block: 60px;
    gap: 80px;
  }

  .content__section-why {
    grid-template-columns: 1fr 2fr;
  }

  .content__section-what {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "title ."
    "cards cards";
  }

  .content__section-what h2 {
    grid-area: title;
  }

  .content__section-what ul {
    grid-area: cards;
  }

  .content__section-how {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "title second-title"
    "title cards"
    ". cards";
  }

  .content__section-how h2 {
    grid-area: title;
  }

  .content__section-how h3 {
    grid-area: second-title;
  }

  .content__section-how ul {
    grid-area: cards;
  }

  .content__section-gallery-list {
    grid-template-areas:
    "sun sun    ice-cream"
    "cassette books  ice-cream"
    "cassette street street";
  }

  .content__section-gallery-item {
    display: flex;
    block-size: 100%;
    inline-size: 100%;
  }
  
  .content__section-gallery-item:first-child {
    grid-area: sun;
  }

  .content__section-gallery-item:nth-child(2) {
    grid-area: ice-cream;
  }

  .content__section-gallery-item:nth-child(3) {
    grid-area: cassette;
  }

  .content__section-gallery-item:nth-child(4) {
    grid-area: books;
  }

  .content__section-gallery-item:last-child {
    grid-area: street;
  }

  .content__section-gallery-image {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .footer .title {
    padding-left: var(--padding-main);
  }
}

  /* медиазапросы для экрана 1024px */

@media (min-width: 1024px) {
  .header__theme-menu {
    align-items: start;
    justify-content: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__question {
    inline-size: 491px;
  }

  .content__section-what .content__section-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bcg-color: #FFF1F7;
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --accent-color-bcg: #FF8DCB;
    --font: 'IBM Plex Mono', sans-serif;
    --text-color-main-title: #FFC2E6;
    --text-color-main: #353430;
    --text-color-decor: #353430;
    --dec-element-visibility: hidden;   
  }
}