/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bcg-color: #FFF1F7;
  --cover-image: url(../images/cover-image-light.png);
  --accent-color: #353430;
  --accent-color-bcg: #FF8DCB;
  --text-color-main-title: #FFC2E6;
  --text-color-main: #353430;
  --text-color-decor: #353430;
  --dec-element-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bcg-color: #FFF1F7;
    --cover-image: url(../images/cover-image-light.png);
    --accent-color: #353430;
    --accent-color-bcg: #FF8DCB;
    --font: 'IBM Plex Mono', sans-serif;
    --text-color-main-title: #FFC2E6;
    --text-color-main: #353430;
    --text-color-decor: #353430;
    --dec-element-visibility: hidden;
  }
}