:root {
  --bcg-color: #000028;
  --cover-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --accent-color-bcg: #FF0070;
  --font: 'IBM Plex Mono', monospace;
  --text-color-main-title: #DB00FF;
  --text-color-main: #F1B2CE;
  --text-color-decor: #000028;
  --padding-main: 10px;
  --dec-element-visibility: visible;
}
